// colors
$primary-color-white: rgb(255, 255, 255);
$primary-color-blue: #63cdff;
$primary-color-black100: rgb(0, 0, 0);
$primary-color-black200: rgb(61, 61, 61);
$primary-color-black300: rgb(42, 42, 42);
$primary-color-contrast: #1b2429;

// sizes
$size-small: 1em;
$size-medium: 2em;
$size-big: 3em;

// spaces
